.chr-websubs {
    width: 100%;
}

.chr-websubs,
.chr-websubs td,
.chr-websubs th {
    border: 1px solid #ddd;
}

#websubadminpanel .chr-websubs td,
#websubadminpanel .chr-websubs th {
    padding: 8px;
}

.chr-websubs th {
    white-space: nowrap;
}

.chr-websubs .profile-avatar {
    float: left;
}

.chr-websubs .profile-details {
    margin-left: 60px;
}

#websubadminpanel #site_nav_local_views_wrapper,
#websubadminpanel #content_wrapper,
#websubadminpanel #content {
    position: static;
}

#websubadminpanel #core {
    border: 0;
}

#websubadminpanel #content {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

